<header class="main-header header-three text-white">

           
           
    <!--Header-Upper-->
    <div class="header-upper">
        <div class="container clearfix">

            <div class="header-inner d-flex align-items-center">
                <div class="logo-outer">
                    <div class="logo"><a href="https://google.com/index.html"><img src="assets/images/IAA.png" width="158" height="58" alt="Logo" title="Logo"></a></div>
                </div>

                <div class="nav-outer clearfix d-flex align-items-center">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-header">
                           <div class="mobile-logo py-15">
                               <a href="https://google.com/index.html">
                                    <img src="assets/images/logo.png" alt="Logo" title="Logo">
                               </a>
                           </div>

                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current dropdown"><a href="#">Home</a>
                                    <ul style="display: none; height: 86px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                                        <li class="dropdown"><a href="#">MultiPage</a>
                                            <ul style="display: none; height: 258px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                                                <li><a href="https://google.com/index.html">Home One</a></li>
                                                <li><a href="https://google.com/index2.html">Home Two</a></li>
                                                <li><a href="https://google.com/index3.html">Home Three</a></li>
                                                <li><a href="https://google.com/index4.html">Home Four</a></li>
                                                <li><a href="https://google.com/index5.html">Home Five</a></li>
                                                <li><a href="https://google.com/index6.html">Home Six</a></li>
                                            </ul>
                                        <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div></li>
                                        <li class="dropdown"><a href="#">OnePage</a>
                                            <ul style="display: none;">
                                                <li><a href="https://google.com/index-onepage.html">Home One</a></li>
                                                <li><a href="https://google.com/index2-onepage.html">Home Two</a></li>
                                                <li><a href="https://google.com/index3-onepage.html">Home Three</a></li>
                                                <li><a href="https://google.com/index4-onepage.html">Home Four</a></li>
                                                <li><a href="https://google.com/index5-onepage.html">Home Five</a></li>
                                                <li><a href="https://google.com/index6-onepage.html">Home Six</a></li>
                                            </ul>
                                        <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div></li>
                                    </ul>
                                <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div></li>
                                <li><a href="https://google.com/about.html">about</a></li>
                                <li class="dropdown"><a href="#">service</a>
                                    <ul style="display: none; height: 86px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                                        <li><a href="https://google.com/services.html">Services</a></li>
                                        <li><a href="https://google.com/service-details.html">Service Details</a></li>
                                    </ul>
                                <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div></li>
                                <li class="dropdown"><a href="#">Portfolio</a>
                                    <ul style="display: none; height: 86px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                                        <li><a href="https://google.com/portfolio.html">Portfolio</a></li>
                                        <li><a href="https://google.com/portfolio-details.html">Portfolio Details</a></li>
                                    </ul>
                                <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div></li>
                                <li class="dropdown"><a href="#">pages</a>
                                    <ul style="display: none;">
                                        <li><a href="https://google.com/shop.html">Shop Page</a></li>
                                        <li><a href="https://google.com/shop-details.html">Shop Details</a></li>
                                        <li><a href="https://google.com/team-profile.html">Team Profile</a></li>
                                        <li><a href="https://google.com/404.html">404 Error</a></li>
                                    </ul>
                                <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div></li>
                                <li class="dropdown"><a href="#">blog</a>
                                    <ul style="display: none;">
                                        <li><a href="https://google.com/blog.html">Blog Standard</a></li>
                                        <li><a href="https://google.com/blog-details.html">Blog Details</a></li>
                                    </ul>
                                <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div></li>
                                <li><a href="https://google.com/contact.html">Contact</a></li>
                            </ul>
                        </div>

                    </nav>
                    <!-- Main Menu End-->

                    <!-- Menu Button -->
                    <div class="menu-btn">
                        <a href="https://google.com/contact.html" class="theme-btn">meet with us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->
</header>

<!-- Contact Area End -->
        <!-- Footer Area Start -->
