
<section id="carousel-background" class="hero-section-two bgs-cover overlay pt-40 rpt-80" style="background-image: url(assets/images/hero/hero-three.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-11">
                <div class="hero-content text-white py-220 rpy-120">
                   <!--span class="sub-title d-block wow fadeInUp delay-0-2s animated" style="visibility: visible; animation-name: fadeInUp;">Product Structure Computation</span-->
                    <h1 class="wow fadeInUp delay-0-4s mt-20 animated" style="visibility: visible; animation-name: fadeInUp;">Product Structure Computation</h1>
                    <!--div class="hero-btns mt-35 wow fadeInUp delay-0-6s animated" style="visibility: visible; animation-name: fadeInUp;">
                        <a href="https://google.com/contact.html" class="theme-btn mr-25">meet with us</a>
                        <a href="https://www.youtube.com/watch?v=9Y7ma241N8k" class="mfp-iframe video-play"><i class="fas fa-play"></i></a>
                    </div-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
   

<!-- Services Start -->
<section class="services-four pt-115 rpt-95 pb-210 rpb-150">
    <div class="container">
       <div class="row justify-content-between align-items-center mb-40">
           <div class="col-lg-6 wow fadeInLeft delay-0-2s animated" style="visibility: visible; animation-name: fadeInLeft;">
               <div class="section-title mb-35">
                    <span class="sub-title">Automation Solutions For Business</span>
                    <h2>Preparing for your success trusted source in IT services.</h2>
                </div>
           </div>
           <div class="col-lg-5 wow fadeInRight delay-0-2s animated" style="visibility: visible; animation-name: fadeInRight;">
               <p>Lorem ipsum dolor sit amet, consectetur 
adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
laboris nisi ut aliquip ex ea commodo</p>
           </div>
       </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="service-item-four wow fadeInUp delay-0-2s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="image">
                        <img src="assets/images/service-1.jpg" alt="Service">
                    </div>
                    <div class="service-four-content">
                        <div class="service-title-area">
                            <span class="category">Automation</span>
                            <h3><a href="https://google.com/service-details.html">Floor Panel </a></h3>
                        </div>
                        <i class="flaticon flaticon-settings-1"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item-four wow fadeInUp delay-0-4s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="image">
                        <a href="https://google.com/service-details.html">
                            <img src="assets/images/service-2.jpg" alt="Service">
                        </a>
                    </div>
                    <div class="service-four-content">
                        <div class="service-title-area">
                            <span class="category">Automation</span>
                            <h3><a href="https://google.com/service-details.html">Product Structure Computation</a></h3>
                        </div>
                        <i class="flaticon flaticon-seo-1"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item-four wow fadeInUp delay-0-6s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="image">
                        <img src="assets/images/service-3.jpg" alt="Service">
                    </div>
                    <div class="service-four-content">
                        <div class="service-title-area">
                            <span class="category">Data Management</span>
                            <h3><a href="https://google.com/service-details.html">AREMA</a></h3>
                        </div>
                        <i class="flaticon flaticon-web"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services End --> 
    
  
<!-- Wrok Progress Start -->
<section class="work-progress-three bg-blue text-white pb-85 rpb-65" style="background-image: url(assets/images/background/progress.png);">
    <div class="container">
        <!--div class="logo-carousel-wrap style-two bg-white py-100 px-25 br-5 slick-initialized slick-slider">
            <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 5600px; transform: translate3d(-2912px, 0px, 0px);"><div class="logo-item slick-slide slick-cloned" data-slick-index="-5" id="" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-1.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide slick-cloned" data-slick-index="-4" id="" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-2.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide slick-cloned" data-slick-index="-3" id="" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-3.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-4.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-5.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide" data-slick-index="0" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-1.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide" data-slick-index="1" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-2.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide" data-slick-index="2" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-3.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide" data-slick-index="3" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-4.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide" data-slick-index="4" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-5.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide" data-slick-index="5" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-1.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide" data-slick-index="6" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-2.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide" data-slick-index="7" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-3.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide slick-current slick-active" data-slick-index="8" aria-hidden="false" style="width: 224px;" tabindex="0">
                <a href="#" tabindex="0"><img src="css/client-logo-4.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide slick-active" data-slick-index="9" aria-hidden="false" style="width: 224px;" tabindex="0">
                <a href="#" tabindex="0"><img src="css/client-logo-5.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide slick-cloned slick-active" data-slick-index="10" id="" aria-hidden="false" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="0"><img src="css/client-logo-1.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide slick-cloned slick-active" data-slick-index="11" id="" aria-hidden="false" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="0"><img src="css/client-logo-2.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide slick-cloned slick-active" data-slick-index="12" id="" aria-hidden="false" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="0"><img src="css/client-logo-3.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide slick-cloned" data-slick-index="13" id="" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-4.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide slick-cloned" data-slick-index="14" id="" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-5.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide slick-cloned" data-slick-index="15" id="" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-1.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide slick-cloned" data-slick-index="16" id="" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-2.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide slick-cloned" data-slick-index="17" id="" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-3.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide slick-cloned" data-slick-index="18" id="" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-4.png" alt="Client Logo"></a>
            </div><div class="logo-item slick-slide slick-cloned" data-slick-index="19" id="" aria-hidden="true" style="width: 224px;" tabindex="-1">
                <a href="#" tabindex="-1"><img src="css/client-logo-5.png" alt="Client Logo"></a>
            </div></div></div>
            
            
            
            
            
            
            
            
            
        </div-->
        <div class="work-progress-inner-three">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="progress-item-two style-two wow fadeInUp delay-0-2s animated" style="visibility: visible; animation-name: fadeInUp;">
                        <span class="progress-step">01</span>
                        <div class="icon">
                            <i class="flaticon flaticon-speech-bubble"></i>
                        </div>
                        <h3>Advertising and <br>Marketing</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                        <a href="https://google.com/service-details.html" class="learn-more">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="progress-item-two style-two wow fadeInUp delay-0-4s animated" style="visibility: visible; animation-name: fadeInUp;">
                        <span class="progress-step">02</span>
                        <div class="icon">
                            <i class="flaticon flaticon-vector"></i>
                        </div>
                        <h3>Web <br>Development</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                        <a href="https://google.com/service-details.html" class="learn-more">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="progress-item-two style-two wow fadeInUp delay-0-6s no-border mb-0 animated" style="visibility: visible; animation-name: fadeInUp;">
                        <span class="progress-step">03</span>
                        <div class="icon">
                            <i class="flaticon flaticon-like-1"></i>
                        </div>
                        <h3>Mobile App <br>Development</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                        <a href="https://google.com/service-details.html" class="learn-more">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Wrok Progress End -->

<section class="featured-section bgs-cover pt-240 rpt-150 pb-120 rpb-100" style="background-image: url(assets/images/feature/feature-bg.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="section-title text-center mb-35">
                    <span class="sub-title">WHO WE ARE</span>
                    <h2>We deal with the aspects of professional IT Services</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-4 col-md-6">
                <div class="feature-item wow fadeInUp delay-0-2s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="flaticon flaticon-art"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Data Center</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <a href="service-details.html" class="learn-more">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="feature-item wow fadeInUp delay-0-4s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="flaticon flaticon-cloud-computing-1"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Cloud Services</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <a href="service-details.html" class="learn-more">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="feature-item wow fadeInUp delay-0-6s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="flaticon flaticon-development-3"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Web Development</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <a href="service-details.html" class="learn-more">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="feature-item wow fadeInUp delay-0-8s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="flaticon flaticon-analysis-1"></i>
                    </div>
                    <div class="feature-content">
                        <h5>IT Management</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <a href="service-details.html" class="learn-more">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="feature-item wow fadeInUp delay-1-0s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="flaticon flaticon-web-development"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Software Development</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <a href="service-details.html" class="learn-more">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="feature-item wow fadeInUp delay-1-2s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="flaticon flaticon-plan"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Machine Learning</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <a href="service-details.html" class="learn-more">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-btn text-center mt-20">
            <a href="services.html" class="theme-btn">view all services</a>
        </div>
    </div>
</section>

<!-- About Section Start -->
<section class="about-three py-120 rpy-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-three-image rmb-60 mr-10 rmr-0 wow fadeInLeft delay-0-2s animated" style="visibility: visible; animation-name: fadeInLeft;">
                    <img src="assets/images/about-three-1.jpg" alt="About">
                    <img src="assets/images/about-three-2.jpg" alt="About">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content pl-70 rpl-0 wow fadeInRight delay-0-2s animated" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="section-title mb-35">
                        <span class="sub-title">It Support For Business</span>
                        <h2>Preparing for your success trusted source in IT services.</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                    <ul class="list-style-three mt-15">
                        <li>which means as the company ramps</li>
                        <li>Available in 14.1-in. and 16-in. versions.</li>
                        <li>The potential loss of the Touch Bar.</li>
                        <li>High-speed USB 4.0.</li>
                    </ul>
                    <a href="https://google.com/about.html" class="theme-btn style-three mt-25">View details</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

  
<!-- Team Section Start -->
<section class="team-section-two bgs-cover text-white pt-115 rpt-95 pb-90 rpb-70" style="background-image: url(assets/images/team/team-bg.jpg);">
    <div class="container">
        <div class="section-title text-center mb-55">
            <span class="sub-title">Team Memabers</span>
            <h2>Our Awesome Team</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="team-member style-two wow fadeInUp delay-0-2s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="image">
                        <img src="assets/images/team-1.jpg" alt="Team Member">
                    </div>
                    <div class="member-designation">
                        <h5><a href="https://google.com/team-profile.html">Rodney J. Sabo</a></h5>
                        <span>Design Lead</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team-member style-two wow fadeInUp delay-0-4s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="image">
                        <img src="assets/images/team-2.jpg" alt="Team Member">
                    </div>
                    <div class="member-designation">
                        <h5><a href="https://google.com/team-profile.html">Ebony K. Hedrick</a></h5>
                        <span>Design Lead</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team-member style-two wow fadeInUp delay-0-6s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="image">
                        <img src="assets/images/team-3.jpg" alt="Team Member">
                    </div>
                    <div class="member-designation">
                        <h5><a href="https://google.com/team-profile.html">Craig B. Hoffman</a></h5>
                        <span>Design Lead</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team-member style-two wow fadeInUp delay-0-8s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="image">
                        <img src="assets/images/team-4.jpg" alt="Team Member">
                    </div>
                    <div class="member-designation">
                        <h5><a href="https://google.com/team-profile.html">Jeff R. Rodriguez</a></h5>
                        <span>Design Lead</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->
 

<!-- Testimonial Section Start -->
<section class="testimonial-section bg-lighter pt-115 rpt-95 pb-120 rpb-100">
    <div class="container">
        <div class="section-title text-center mb-65">
            <span class="sub-title">It Support For Business</span>
            <h2>Preparing for your success <br>trusted source in IT services.</h2>
        </div>
        <div class="fact-counter-color text-center mb-30">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="success-item wow fadeInUp delay-0-2s counted animated" style="visibility: visible; animation-name: fadeInUp;">
                        <span class="count-text plus" data-speed="5000" data-stop="24">24</span>
                        <p>Awards Won</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="success-item wow fadeInUp delay-0-4s counted animated" style="visibility: visible; animation-name: fadeInUp;">
                        <span class="count-text plus" data-speed="5000" data-stop="12">12</span>
                        <p>Years Experience</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="success-item wow fadeInUp delay-0-6s counted animated" style="visibility: visible; animation-name: fadeInUp;">
                        <span class="count-text plus" data-speed="5000" data-stop="352">352</span>
                        <p>Happy Clients</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial-wrap slick-initialized slick-slider">
            <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 6000px; transform: translate3d(-1200px, 0px, 0px);"><div class="testimonial-item slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true" style="width: 570px;" tabindex="-1">
                <div class="author-description">
                    <img src="assets/images/testi-author-1.jpg" alt="Author">
                    <div class="designation">
                        <h5>Rodney J. Sabo</h5>
                        <span>Design Lead</span>
                    </div>
                    <i class="fas fa-quote-right"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur 
adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div><div class="testimonial-item slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 570px;" tabindex="-1">
                <div class="author-description">
                    <img src="assets/images/testi-author-2.jpg" alt="Author">
                    <div class="designation">
                        <h5>Rodney J. Sabo</h5>
                        <span>Design Lead</span>
                    </div>
                    <i class="fas fa-quote-right"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur 
adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div><div class="testimonial-item wow fadeInLeft delay-0-2s slick-slide animated slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 570px; visibility: visible; animation-name: fadeInLeft;" tabindex="0">
                <div class="author-description">
                    <img src="assets/images/testi-author-1.jpg" alt="Author">
                    <div class="designation">
                        <h5>Rodney J. Sabo</h5>
                        <span>Design Lead</span>
                    </div>
                    <i class="fas fa-quote-right"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur 
adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div><div class="testimonial-item wow fadeInRight delay-0-2s slick-slide animated slick-active" data-slick-index="1" aria-hidden="false" style="width: 570px; visibility: visible; animation-name: fadeInRight;" tabindex="0">
                <div class="author-description">
                    <img src="assets/images/testi-author-2.jpg" alt="Author">
                    <div class="designation">
                        <h5>Rodney J. Sabo</h5>
                        <span>Design Lead</span>
                    </div>
                    <i class="fas fa-quote-right"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur 
adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div><div class="testimonial-item slick-slide" data-slick-index="2" aria-hidden="true" style="width: 570px;" tabindex="-1">
                <div class="author-description">
                    <img src="assets/images/testi-author-1.jpg" alt="Author">
                    <div class="designation">
                        <h5>Rodney J. Sabo</h5>
                        <span>Design Lead</span>
                    </div>
                    <i class="fas fa-quote-right"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur 
adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div><div class="testimonial-item slick-slide" data-slick-index="3" aria-hidden="true" style="width: 570px;" tabindex="-1">
                <div class="author-description">
                    <img src="assets/images/testi-author-2.jpg" alt="Author">
                    <div class="designation">
                        <h5>Rodney J. Sabo</h5>
                        <span>Design Lead</span>
                    </div>
                    <i class="fas fa-quote-right"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur 
adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div><div class="testimonial-item wow fadeInLeft delay-0-2s slick-slide slick-cloned animated" data-slick-index="4" id="" aria-hidden="true" style="width: 570px; visibility: visible; animation-name: fadeInLeft;" tabindex="-1">
                <div class="author-description">
                    <img src="assets/images/testi-author-1.jpg" alt="Author">
                    <div class="designation">
                        <h5>Rodney J. Sabo</h5>
                        <span>Design Lead</span>
                    </div>
                    <i class="fas fa-quote-right"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur 
adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div><div class="testimonial-item wow fadeInRight delay-0-2s slick-slide slick-cloned animated" data-slick-index="5" id="" aria-hidden="true" style="width: 570px; visibility: visible; animation-name: fadeInRight;" tabindex="-1">
                <div class="author-description">
                    <img src="assets/images/testi-author-2.jpg" alt="Author">
                    <div class="designation">
                        <h5>Rodney J. Sabo</h5>
                        <span>Design Lead</span>
                    </div>
                    <i class="fas fa-quote-right"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur 
adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div><div class="testimonial-item slick-slide slick-cloned" data-slick-index="6" id="" aria-hidden="true" style="width: 570px;" tabindex="-1">
                <div class="author-description">
                    <img src="assets/images/testi-author-1.jpg" alt="Author">
                    <div class="designation">
                        <h5>Rodney J. Sabo</h5>
                        <span>Design Lead</span>
                    </div>
                    <i class="fas fa-quote-right"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur 
adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div><div class="testimonial-item slick-slide slick-cloned" data-slick-index="7" id="" aria-hidden="true" style="width: 570px;" tabindex="-1">
                <div class="author-description">
                    <img src="assets/images/testi-author-2.jpg" alt="Author">
                    <div class="designation">
                        <h5>Rodney J. Sabo</h5>
                        <span>Design Lead</span>
                    </div>
                    <i class="fas fa-quote-right"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur 
adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div></div></div>
            
            
            
        </div>
    </div>
</section>
<!-- Testimonial Section End -->


<!-- Pricing Section Start -->
<section class="pricing-section-two pt-115 rpt-95 pb-70 rpb-50">
    <div class="container">
        <div class="section-title text-center mb-50">
            <span class="sub-title">Pricing Packages</span>
            <h2>Choose Your Best Plan</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="pricing-item style-two wow fadeInUp delay-0-2s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="pricing-header">
                        <h5 class="pricing-title">Standard</h5>
                        <span class="price">29.99</span>
                        <h5 class="pricing-time">Per Month</h5>
                    </div>
                    <ul>
                        <li>Limited install</li>
                        <li>Unlimited Download</li>
                        <li>Free One Year Support</li>
                        <li>Free 15 GB Linux Hosting</li>
                    </ul>
                    <a class="theme-btn btn-circle" href="#">Choose Plan</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="pricing-item style-two wow fadeInUp delay-0-4s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="pricing-header">
                        <h5 class="pricing-title">BUSINESS</h5>
                        <span class="price">59.99</span>
                        <h5 class="pricing-time">Per Month</h5>
                    </div>
                    <ul>
                        <li>Limited install</li>
                        <li>Unlimited Download</li>
                        <li>Free One Year Support</li>
                        <li>Free 15 GB Linux Hosting</li>
                    </ul>
                    <a class="theme-btn btn-circle" href="#">Choose Plan</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="pricing-item style-two wow fadeInUp delay-0-6s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="pricing-header">
                        <h5 class="pricing-title">PREMIUM</h5>
                        <span class="price">79.99</span>
                        <h5 class="pricing-time">Per Month</h5>
                    </div>
                    <ul>
                        <li>Limited install</li>
                        <li>Unlimited Download</li>
                        <li>Free One Year Support</li>
                        <li>Free 15 GB Linux Hosting</li>
                    </ul>
                    <a class="theme-btn btn-circle" href="#">Choose Plan</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Section End -->
  
   
<!-- Subscribe Section Start -->
<section class="subscribe-section bg-blue pt-115 rpt-95 pb-90 rpb-85">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-title text-white mb-25 rmb-35 wow fadeInLeft delay-0-2s animated" style="visibility: visible; animation-name: fadeInLeft;">
                    <h2>Sign up for latest IT resources news from Restly</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <form class="subscribe-form mb-15 wow fadeInRight delay-0-2s animated" action="#" style="visibility: visible; animation-name: fadeInRight;">
                    <input type="email" placeholder="Your Email Address" required="">
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Subscribe Section End -->


<!-- Gallery Section Start -->
<section class="gallery-section-three overlay pt-50 rpt-95 pb-105 rpb-85">
    <div class="container"><div class="section-title text-center mb-50">
            <span class="sub-title">Pricing Packages</span>
            <h2>Choose Your Best Plan</h2>
        </div>
        <div class="section-title gellery-section-title mb-55 wow fadeInUp delay-0-2s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <span class="sub-title">Our Gallery</span>
                    <h2>Explore our recent projects</h2>
                    <div class="gallery-carousel-arrow mt-25">
                        <button class="gallery-prev slick-arrow" style=""><i class="fas fa-arrow-left"></i></button>
                        <button class="gallery-next slick-arrow" style=""><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
        <div class="gallery-three-wrap wow fadeInRight delay-0-2s slick-initialized slick-slider animated" style="visibility: visible; animation-name: fadeInRight;">
            <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 5850px; transform: translate3d(-2340px, 0px, 0px);"><div class="gallery-item style-three slick-slide slick-cloned" data-slick-index="-3" id="" aria-hidden="true" style="width: 390px;" tabindex="-1">
               <img src="assets/images/gallery-three-1.jpg" alt="Gallery">
                <div class="gallery-content">
                    <h5><a href="https://google.com/portfolio-details.html" tabindex="-1">Cyber Security Services</a></h5>
                </div>
            </div><div class="gallery-item style-three slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true" style="width: 390px;" tabindex="-1">
               <img src="assets/images/gallery-three-2.jpg" alt="Gallery">
                <div class="gallery-content">
                    <h5><a href="https://google.com/portfolio-details.html" tabindex="-1">Cyber Security Services</a></h5>
                </div>
            </div><div class="gallery-item style-three slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 390px;" tabindex="-1">
               <img src="assets/images/gallery-three-3.jpg" alt="Gallery">
                <div class="gallery-content">
                    <h5><a href="https://google.com/portfolio-details.html" tabindex="-1">Cyber Security Services</a></h5>
                </div>
            </div><div class="gallery-item style-three slick-slide" data-slick-index="0" aria-hidden="true" style="width: 390px;" tabindex="-1">
               <img src="assets/images/gallery-three-1.jpg" alt="Gallery">
                <div class="gallery-content">
                    <h5><a href="https://google.com/portfolio-details.html" tabindex="-1">Cyber Security Services</a></h5>
                </div>
            </div><div class="gallery-item style-three slick-slide" data-slick-index="1" aria-hidden="true" style="width: 390px;" tabindex="-1">
               <img src="assets/images/gallery-three-2.jpg" alt="Gallery">
                <div class="gallery-content">
                    <h5><a href="https://google.com/portfolio-details.html" tabindex="-1">Cyber Security Services</a></h5>
                </div>
            </div><div class="gallery-item style-three slick-slide" data-slick-index="2" aria-hidden="true" style="width: 390px;" tabindex="-1">
               <img src="assets/images/gallery-three-3.jpg" alt="Gallery">
                <div class="gallery-content">
                    <h5><a href="https://google.com/portfolio-details.html" tabindex="-1">Cyber Security Services</a></h5>
                </div>
            </div><div class="gallery-item style-three slick-slide slick-current slick-active" data-slick-index="3" aria-hidden="false" style="width: 390px;" tabindex="0">
               <img src="assets/images/gallery-three-1.jpg" alt="Gallery">
                <div class="gallery-content">
                    <h5><a href="https://google.com/portfolio-details.html" tabindex="0">Cyber Security Services</a></h5>
                </div>
            </div><div class="gallery-item style-three slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 390px;" tabindex="0">
               <img src="assets/images/gallery-three-2.jpg" alt="Gallery">
                <div class="gallery-content">
                    <h5><a href="https://google.com/portfolio-details.html" tabindex="0">Cyber Security Services</a></h5>
                </div>
            </div><div class="gallery-item style-three slick-slide slick-active" data-slick-index="5" aria-hidden="false" style="width: 390px;" tabindex="0">
               <img src="assets/images/gallery-three-3.jpg" alt="Gallery">
                <div class="gallery-content">
                    <h5><a href="https://google.com/portfolio-details.html" tabindex="0">Cyber Security Services</a></h5>
                </div>
            </div><div class="gallery-item style-three slick-slide slick-cloned" data-slick-index="6" id="" aria-hidden="true" style="width: 390px;" tabindex="-1">
               <img src="assets/images/gallery-three-1.jpg" alt="Gallery">
                <div class="gallery-content">
                    <h5><a href="https://google.com/portfolio-details.html" tabindex="-1">Cyber Security Services</a></h5>
                </div>
            </div><div class="gallery-item style-three slick-slide slick-cloned" data-slick-index="7" id="" aria-hidden="true" style="width: 390px;" tabindex="-1">
               <img src="assets/images/gallery-three-2.jpg" alt="Gallery">
                <div class="gallery-content">
                    <h5><a href="https://google.com/portfolio-details.html" tabindex="-1">Cyber Security Services</a></h5>
                </div>
            </div><div class="gallery-item style-three slick-slide slick-cloned" data-slick-index="8" id="" aria-hidden="true" style="width: 390px;" tabindex="-1">
               <img src="assets/images/gallery-three-3.jpg" alt="Gallery">
                <div class="gallery-content">
                    <h5><a href="https://google.com/portfolio-details.html" tabindex="-1">Cyber Security Services</a></h5>
                </div>
            </div><div class="gallery-item style-three slick-slide slick-cloned" data-slick-index="9" id="" aria-hidden="true" style="width: 390px;" tabindex="-1">
               <img src="assets/images/gallery-three-1.jpg" alt="Gallery">
                <div class="gallery-content">
                    <h5><a href="https://google.com/portfolio-details.html" tabindex="-1">Cyber Security Services</a></h5>
                </div>
            </div><div class="gallery-item style-three slick-slide slick-cloned" data-slick-index="10" id="" aria-hidden="true" style="width: 390px;" tabindex="-1">
               <img src="assets/images/gallery-three-2.jpg" alt="Gallery">
                <div class="gallery-content">
                    <h5><a href="https://google.com/portfolio-details.html" tabindex="-1">Cyber Security Services</a></h5>
                </div>
            </div><div class="gallery-item style-three slick-slide slick-cloned" data-slick-index="11" id="" aria-hidden="true" style="width: 390px;" tabindex="-1">
               <img src="assets/images/gallery-three-3.jpg" alt="Gallery">
                <div class="gallery-content">
                    <h5><a href="https://google.com/portfolio-details.html" tabindex="-1">Cyber Security Services</a></h5>
                </div>
            </div></div></div>
            
            
            
            
            
        </div>
    </div>
</section>
<!-- Gallery Section End -->


<!-- News Section Start -->
<section class="news-section-two pb-10 rpb-25">
    <div class="container">
        <div class="section-title text-center mb-55">
            <span class="sub-title">Recent Articles</span>
            <h2>Latest News from Us</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6">
                <div class="news-item style-two wow fadeInUp delay-0-2s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="image">
                        <img src="assets/images/news-1.jpg" alt="News">
                    </div>
                    <div class="news-content">
                        <div class="news-author">
                            <img src="assets/images/news-author-1.jpg" alt="Authro">
                        </div>
                        <ul class="post-meta-item">
                            <li>
                                <b>By <a href="#">Admin</a></b>
                            </li>
                            <li>
                                <i class="fas fa-calendar-alt"></i>
                                <a href="#" rel="bookmark">22 December 2021</a>
                            </li>
                        </ul>
                        <h4><a href="https://google.com/blog-details.html">Keep Your Business Safe &amp; Ensure High Availability.</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisc ingelit sed do eiusmod </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="news-item style-two wow fadeInUp delay-0-4s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="image">
                        <img src="assets/images/news-2.jpg" alt="News">
                    </div>
                    <div class="news-content">
                        <div class="news-author">
                            <img src="assets/images/news-author-2.jpg" alt="Authro">
                        </div>
                        <ul class="post-meta-item">
                            <li>
                                <b>By <a href="#">Admin</a></b>
                            </li>
                            <li>
                                <i class="fas fa-calendar-alt"></i>
                                <a href="#" rel="bookmark">22 December 2021</a>
                            </li>
                        </ul>
                        <h4><a href="https://google.com/blog-details.html">Keep Your Business Safe &amp; Ensure High Availability.</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisc ingelit sed do eiusmod </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="news-item style-two wow fadeInUp delay-0-6s animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="image">
                        <img src="assets/images/news-3.jpg" alt="News">
                    </div>
                    <div class="news-content">
                        <div class="news-author">
                            <img src="assets/images/news-author-3.jpg" alt="Authro">
                        </div>
                        <ul class="post-meta-item">
                            <li>
                                <b>By <a href="#">Admin</a></b>
                            </li>
                            <li>
                                <i class="fas fa-calendar-alt"></i>
                                <a href="#" rel="bookmark">22 December 2021</a>
                            </li>
                        </ul>
                        <h4><a href="https://google.com/blog-details.html">Keep Your Business Safe &amp; Ensure High Availability.</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisc ingelit sed do eiusmod </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- News Section End -->


<!-- Contact Area Start -->
<section class="contact-two">
    <div class="container">
        <div class="contact-section-inner p-50 br-5 bg-white">
           <div class="row">
               <div class="col-lg-7">
                   <div class="contact-section-form rmb-50 wow fadeInLeft delay-0-2s animated" style="visibility: visible; animation-name: fadeInLeft;">
                       <div class="section-title mb-20">
                           <h2>Get In Touch</h2>
                       </div>
                       <form id="contact-form" class="contact-form" name="contact-form" action="#" method="post">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                       <label for="name">Your name</label>
                                        <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                       <label for="email">Your email address</label>
                                        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                       <label for="number">Your phone number</label>
                                        <input type="text" id="number" name="number" class="form-control" placeholder="Phone Number" required="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                       <label for="service">Service Required</label>
                                        <select id="service" name="service">
                                            <option value="default" selected="selected">Service</option>
                                            <option value="about">About</option>
                                            <option value="contact">Contact</option>
                                            <option value="team">Team</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea name="comments" id="comments" class="form-control" rows="4" placeholder="Let us know what you need." required=""></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" class="theme-btn">Send Message</button>
                                </div>
                            </div>
                        </form>
                   </div>
               </div>
               <div class="col-lg-5">
                   <div class="contact-image-number style-two bgs-cover overlay wow fadeInRight delay-0-2s animated" style="background-image: url(&quot;assets/images/contact/home-two.jpg&quot;); visibility: visible; animation-name: fadeInRight;">
                       <div class="contact-informations text-white">
                            <h3>Don't hesitate to contact us</h3>
                            <ul class="contact-info">
                                <li>
                                    <i class="fas fa-phone-alt"></i>
                                    <div class="content">
                                        <span>Call Us</span>
                                        <h5><a href="callto:+012-345-6789">+012-345-6789</a></h5>
                                    </div>
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    <div class="content">
                                        <span>Write to Us</span>
                                        <h5><a href="mailto:info@example.com">info@example.com</a></h5>
                                    </div>
                                </li>
                                <li>
                                    <i class="fas fa-clock"></i>
                                    <div class="content">
                                        <span>Office hours</span>
                                        <h5>Mon-Sat 9:00 - 7:00</h5>
                                    </div>
                                </li>
                            </ul>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
</section>